
.register-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}

.register-form form{
    font-family: inherit;
    font-size: 1.2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.register-form label{
    margin-bottom: 5px;
}
.register-form input{
    padding: 8px;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

.register-form button{
    background-color: #1890FF;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-bottom: 5px;
}

.register-formbutton:hover{
    cursor: pointer;
    background-color: #3FA8FF;
}
