.video-upload{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size:3rem;
    font-family: inherit;
    margin-bottom: 50px;
}

.video-upload .dropzone {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.video-upload img{
    width: 50%;
    object-fit: cover;
}

.video-upload form {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 1.2rem;
}

.video-upload select{
    width: 20%;
    padding: 5px;
    border: 1px solid #F0F0F0;
    margin-bottom: 10px;
}
.video-upload label{
    margin-bottom: 10px;
}
.video-upload input{
    margin-bottom: 10px;
}

.video-upload button{
    width: 20%;
    margin-top: 10px;
}

