*{
  box-sizing: border-box;
  margin: 0;
}

.header{
  border-bottom:  1px solid #e5eaef;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 20px;
}

.nav li {
  margin-right: 15px;
}

.link{
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
